.header {
  padding: 23px 0;
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__nav {
    margin-left: -74px;
  }
}

.header--main {
  background-color: $white;
}

.logo {}

.nav {

  // .nav__list

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .nav__item

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  // .nav__link

  &__link {
    font-weight: 700;
    line-height: 1.6;
    color: $dark-grey;
  }
}


.header-contacts {

  display: flex;
  align-items: center;

  // .header-contacts__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts-link {
  padding-left: 53px;
  margin-left: 36px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  // .contacts-link__caption

  &__caption {
    font-weight: 700;
    font-size: 14px;
    color: $dark-grey;
  }

  // .contacts-link__value

  &__value {
    font-size: 18px;
    color: $dark;
  }
}

.contacts-link--call {
  background-image: url("../img/phone.svg");
}

.contacts-link--mail {
  background-image: url("../img/chat.svg");
}