.nav {

  // .nav__list

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .nav__item

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  // .nav__link

  &__link {
    font-weight: 700;
    line-height: 1.6;
    color: $dark-grey;
  }
}