<section class="achieve">
  <div class="container achieve__container">
    <h2 class="sr-only">Achievements</h2>
    <ul class="achieve__list">
      <li class="achieve__item achieve__item--recom">
        <div class="achieve__value">60%</div>
        <div class="achieve__text">Clients on the recommendation of friends</div>
      </li>
      <li class="achieve__item achieve__item--aparts">
        <div class="achieve__value">2400+</div>
        <div class="achieve__text">Apartments renovated</div>
      </li>
      <li class="achieve__item achieve__item--spec">
        <div class="achieve__value">670</div>
        <div class="achieve__text">Qualified specialists</div>
      </li>
      <li class="achieve__item achieve__item--finish">
        <div class="achieve__value">150000+ m<sup>2</sup></div>
        <div class="achieve__text">Finishing work was carried out</div>
      </li>
    </ul>
    <div class="achieve__content">
      <img class="achieve__img" src="img/achieve-man.jpg" aria-hidden="true" width="525" height="580">
      <div class="achieve__info">
        <blockquote class="achieve__blockquote">
          <div class="achieve__top">
            <p>Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed
              quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi.
              Odio massa purus vel praesent arcu enim elit felis viverra.
            </p>
            <p>
              Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet
              suspendisse faucibus tempor ipsum integer.
            </p>
          </div>
          <footer class="achieve__bottom">
            <span class="achieve__author">Courtney Alexander</span>
            <p>CEO - Createx Construction Bureau</p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
