<section class="categories">
  <div class="container">
    <h2 class="categories__title title">
      Categories
    </h2>
    <ul class="categories__nav">
      <li class="categories__item">
        <button class="categories__btn categories__btn--active btn" data-filter = "all">
          All News
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn btn" data-filter = "company">
          Company News
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn btn" data-filter = "innov">
          Innovation
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn btn" data-filter = "industry">
          Industry News
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn btn" data-filter = "expert">
          Expert Tips
        </button>
      </li>
      <li class="categories__item">
        <button class="categories__btn btn" data-filter = "marketing">
          Marketing
        </button>
      </li>
    </ul>
    <ul class="categories__news">
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "expert">
          <img src="img/news-1.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                How to Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Industry News
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                June 24, 2021
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                4 comments
              </span>
            </div>
            <p class="recent-article__descr">
              Building climate resilience can involve a package of management measures (such as changing maintenance
              schedules and including adaptive management to account for uncertainty in the future) and structural
              measures...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "innov">
          <img src="img/news2.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                How Construction Can Help Itself
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Innovation
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                June 12, 2020
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                No comments
              </span>
            </div>
            <p class="recent-article__descr">
              There are several things that clients in construction cases, and indeed all legal matters, can and should
              do to help themselves. Following these tips can....
            </p>
          </div>
        </article>
      </li>
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "expert">
          <img src="img/news3.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                The Difference Between a Digger and an Excavator
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Expert Tips
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                May 16, 2020
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                No comments
              </span>
            </div>
            <p class="recent-article__descr">
              Since the excavator is usually fitted with a bucket and has a single arm created primarily to be used with
              a bucket, digging is the main function of an excavator....
            </p>
          </div>
        </article>
      </li>
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "expert">
          <img src="img/news4.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                Building Construction Hand Tools
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Expert Tips
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                February 25, 2020
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                1 comment
              </span>
            </div>
            <p class="recent-article__descr">
              Hand tools, such as; screwdrivers, brushes, trowels, wrenches, knives, crimpers, clamps, and so on. Power
              tools, which may be powered by electricity, compressed...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "industry">
          <img src="img/news5.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                Top 10 Construction Trends
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Industry News
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                January 14, 2020
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                No comments
              </span>
            </div>
            <p class="recent-article__descr">
              The Top 10 Construction Industry Trends significantly improve efficiency, worker safety, construction
              speed, and implements sustainability practices. Collaborative robots, autonomous equipment, drone-based
              inspection...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__article">
        <article class="recent-article recent-article--big" data-target = "industry">
          <img src="img/news6.jpg" alt="" class="recent-article__img">
          <div class="recent-article__text">
            <h3 class="recent-article__title">
              <a class="recent-article__link" href="#">
                Types of Flooring Materials
              </a>
            </h3>
            <div class="recent-article__meta recent-meta">
              <a href="#" class="recent-meta__item">
                Industry News
              </a>
              <time class="recent-meta__item" datetime="2021-06-24 19:00">
                December 1, 2019
              </time>
              <span class="recent-meta__item recent-meta__item--comment">
                No comments
              </span>
            </div>
            <p class="recent-article__descr">
              Marble flooring, ceramic tile or natural stone tiles made from limestone, or other stone flooring options
              like granite are popular choices. The...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__pag">
      <li class="categories__page">
        <a href="#" class="categories__link categories__link--active">1</a>
      </li>
      <li class="categories__page">
        <a href="#" class="categories__link">2</a>
      </li>
      <li class="categories__page">
        <a href="#" class="categories__link">3</a>
      </li>
      <li class="categories__page">
        <a href="#" class="categories__link">4</a>
      </li>
      <li class="categories__page">
        <a href="#" class="categories__link" aria-label="next page">
          <svg class="categories__icon">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
