<section class="contacts-info">
  <div class="container">
    <h2 class="contacts-info__title title centered">Our offices</h2>
    <p class="contacts-info__descr descr centered">
      Give us a call, send us a note or visit our office. We can’t wait to hear from you!
    </p>
    <ul class="contacts-info__list">
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">
          New York, USA
        </h3>
        <address class="contacts-info__address">
          8502 Preston Rd. Inglewood, New York 98380
        </address>
        <a href="#" class="contacts-info__link">
          See on the map
        </a>
        <p class="contacts-info__text">
          Call:
          <a href="tel:4055550128" class="contacts-info__contacts">
            (405) 555-0128
          </a>
        </p>
        <p class="contacts-info__text">
          Email:
          <a href="email:hello@createx.com" class="contacts-info__contacts">
            hello@createx.com
          </a>
        </p>
        <p class="contacts-info__text">
          Schedule:
          <span class="contacts-info__contacts">
            Mon - Fri 9:00 - 18:00
          </span>
        </p>
      </li>

      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">
          New Jersey, USA
        </h3>
        <address class="contacts-info__address">
          2464 Royal Ln. Mesa, New Jersey 45463
        </address>
        <a href="#" class="contacts-info__link">
          See on the map
        </a>
        <p class="contacts-info__text">
          Call:
          <a href="tel:8085550111" class="contacts-info__contacts">
            (808) 555-0111
          </a>
        </p>
        <p class="contacts-info__text">
          Email:
          <a href="email:hello@createx.com" class="contacts-info__contacts">
            hello@createx.com
          </a>
        </p>
        <p class="contacts-info__text">
          Schedule:
          <span class="contacts-info__contacts">
            Mon - Fri 9:00 - 18:00
          </span>
        </p>
      </li>

      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">
          San Francisco, USA
        </h3>
        <address class="contacts-info__address">
          8502 Preston Rd. Inglewood, San Francisco 98380
        </address>
        <a href="#" class="contacts-info__link">
          See on the map
        </a>
        <p class="contacts-info__text">
          Call:
          <a href="tel:5055550125" class="contacts-info__contacts">
            (505) 555-0125
          </a>
        </p>
        <p class="contacts-info__text">
          Email:
          <a href="mailto:hello@createx.com" class="contacts-info__contacts">
            hello@createx.com
          </a>
        </p>
        <p class="contacts-info__text">
          Schedule:
          <span class="contacts-info__contacts">
            Mon - Fri 10:00 - 19:00
          </span>
        </p>
      </li>
    </ul>
  </div>
</section>
