<section class="core-values">
  <div class="container">
    <h2 class="title title--center core-values__title">
      Our values
    </h2>
    <p class="core-values__descr descr descr--center">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <ul class="core-values__list">
      <li class="core-values__item core-values__item--quality">
        <h3 class="core-values__subtitle">
          Quality
        </h3>
        <p class="core-values__text">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="core-values__item core-values__item--safety">
        <h3 class="core-values__subtitle">
          Safety
        </h3>
        <p class="core-values__text">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="core-values__item core-values__item--comfort">
        <h3 class="core-values__subtitle">
          Comfort
        </h3>
        <p class="core-values__text">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
