<section class="find-us">
  <div class="container">
    <h2 class="find-us__title title centered">
      Find us at
    </h2>
    <ul class="find-us__network network">
      <li class="network__item">
        <a class="network__link" href="#" target="_blank" aria-label="WhatsUp">
          <svg class="network__icon">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#" target="_blank" aria-label="Messanger">
          <svg class="network__icon">
            <use xlink:href="img/sprite.svg#Messanger"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#" target="_blank" aria-label="Facebook">
          <svg class="network__icon">
            <use xlink:href="img/sprite.svg#Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#" target="_blank" aria-label="Twitter">
          <svg class="network__icon">
            <use xlink:href="img/sprite.svg#Twitter"></use>
          </svg>
        </a>
      </li>
      <li class="network__item">
        <a class="network__link" href="#" target="_blank" aria-label="Youtube">
          <svg class="network__icon">
            <use xlink:href="img/sprite.svg#YouTube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>