<section class="page-hero page-hero--project">
  <div class="container">
    <ul class="page-hero__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Homepage
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Work
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">
          Modern Cottage
        </a>
      </li>
    </ul>
    <h1 class="page-hero__title hero-project__title">
      Modern Cottage
    </h1>
    <div class="hero-project__images">
      <div class="hero-project__slider">
        <button class="testimonials__btn slider-btn project-btn__prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="testimonials__btn slider-btn project-btn__next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-1.jpg" alt="Cottage" class="hero-project__img">
          </div>
          <div class="swiper-slide">
            <img src="img/work-2.jpg" alt="Cottage" class="hero-project__img">
          </div>
          <div class="swiper-slide">
            <img src="img/work-3.jpg" alt="Cottage" class="hero-project__img">
          </div>
        </div>
      </div>
      <div class="hero-project__nav" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-1th.jpg" alt="Cottage" class="hero-project__img--th">
          </div>
          <div class="swiper-slide">
            <img src="img/work-2th.jpg" alt="Cottage" class="hero-project__img--th">
          </div>
          <div class="swiper-slide">
            <img src="img/work-3th.jpg" alt="Cottage" class="hero-project__img--th">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
