<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">
        Our history
      </h2>
      <div class="slider-nav">
        <button class="slider-nav__btn slider-btn history__prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="slider-nav__btn slider-btn history__next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content">
      <ul class="history-nav">
        <li class="history-nav__item">
          <button class="history-nav__btn history-nav__btn--active">Present</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">March 2019</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">November 2018</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">July 2015</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">August 2010</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">February 2007</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">May 2004</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">October 2001</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn">June 2000</button>
        </li>
      </ul>

      <div class="history__right history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
          <div class="swiper-slide">
            <img class="history__img" src="img/history.jpg" aria-hidden="true" width="810" height="450">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec
              vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis.
              Bcelerisque
              dapibus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
