<section class="partners-about">
  <div class="container">
    <h2 class="partners-about__title title title--center">
      Our partners
    </h2>
    <p class="partners-about__descr descr centered">
      We are supported by 12+ industry bodies and media partners
    </p>
    <ul class="partners-about__list">
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-1.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-2.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-3.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-4.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-5.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-6.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
    </ul>
    <ul class="partners-about__list">
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-7.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-8.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-9.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-10.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-11.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
      <li class="partners-about__item">
        <a href="" class="partners-about__link">
          <img src="img/partners/logo-12.png" alt="logo" class="partners-about__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
