<section class="portfolio">
  <div class="container">
    <h2 class="sr-only">Portfolio</h2>
    <ul class="portfolio__tabs">
      <li class="portfolio__item">
        <button class="portfolio__btn portfolio__btn--active" data-filter = "all">
          <svg class="portfolio__icon">
            <use xlink:href="img/sprite.svg#project"></use>
          </svg>
          <span class="portfolio__text">
            All projects
          </span>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn" data-filter = "constr">
          <svg class="portfolio__icon">
            <use xlink:href="img/sprite.svg#services-1"></use>
          </svg>
          <span class="portfolio__text">
            Construction
          </span>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn" data-filter = "dev">
          <svg class="portfolio__icon">
            <use xlink:href="img/sprite.svg#services-2"></use>
          </svg>
          <span class="portfolio__text">
            Project Development
          </span>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn" data-filter = "interior">
          <svg class="portfolio__icon">
            <use xlink:href="img/sprite.svg#services-3"></use>
          </svg>
          <span class="portfolio__text">
            Interior Design
          </span>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn" data-filter = "repair">
          <svg class="portfolio__icon">
            <use xlink:href="img/sprite.svg#services-4"></use>
          </svg>
          <span class="portfolio__text">
            Repairs
          </span>
        </button>
      </li>
    </ul>

    <ul class="portfolio__list">

      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "constr">
          <img src="img/slide-2.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Cubes Building
            </h3>
            <span class="portfolio-item__desc">
              Business Centers
            </span>
            <button class="portfolio-item__btn btn btn--stroke">
              View project
            </button>
          </div>
        </a>
      </li>

      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "constr">
          <img src="img/slide-1.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Red Finger Building
            </h3>
            <span class="portfolio-item__desc">
              Business Centers
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>


      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "constr">
          <img src="img/slide-3.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              The Pencil Building
            </h3>
            <span class="portfolio-item__desc">
              Stores & Malls
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>

      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "dev">
          <img src="img/port-1.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Modern Cottage
            </h3>
            <span class="portfolio-item__desc">
              Private houses
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>

      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "dev">
          <img src="img/port-2.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Luxury Beach House
            </h3>
            <span class="portfolio-item__desc">
              Private houses
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>

      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "interior">
          <img src="img/port-3.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Scandinavian Style Interior
            </h3>
            <span class="portfolio-item__desc">
              Private houses
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "repair">
          <img src="img/port-5.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Brown and Gray Painted House
            </h3>
            <span class="portfolio-item__desc">
              Private houses
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "dev">
          <img src="img/related-2.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Modern Double Bedroom
            </h3>
            <span class="portfolio-item__desc">
              Apartments & flats
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio__element">
        <a href="#" class="portfolio-item" data-target = "repair">
          <img src="img/port-4.jpg" alt="Construction" class="portfolio-item__img">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">
              Kids Bedroom With Decorations
            </h3>
            <span class="portfolio-item__desc">
              Apartments & flats 
            </span>
            <div class="portfolio-item__btn btn btn--stroke">
              View project
            </div>
          </div>
        </a>
      </li>

    </ul>
  </div>
</section>
