<section class="portfolio-section">
  <div class="container">
    <div class="porfolio-section__top">
      <h2 class="title porfolio-section__title">
        Browse our selected projects
        and learn more about our work
      </h2>

      <div class="slider-nav">
        <button class="slider-nav__btn slider-btn slider-btn__prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="slider-nav__btn slider-btn slider-btn__next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="portfolio-section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img src="img/slide-1.jpg" alt="Construction" class="portfolio-item__img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Red Finger Building
              </h3>
              <span class="portfolio-item__desc">
                Business Centers
              </span>
              <div class="portfolio-item__btn btn btn--stroke">
                View project
              </div>
            </div>
          </a>
        </div>

        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img src="img/slide-2.jpg" alt="Construction" class="portfolio-item__img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Cubes Building
              </h3>
              <span class="portfolio-item__desc">
                Business Centers
              </span>
              <button class="portfolio-item__btn btn btn--stroke">
                View project
              </button>
            </div>
          </a>
        </div>

        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img src="img/slide-3.jpg" alt="Construction" class="portfolio-item__img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                The Pencil Building
              </h3>
              <span class="portfolio-item__desc">
                Stores & Malls
              </span>
              <div class="portfolio-item__btn btn btn--stroke">
                View project
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-section__learn">
      <h4 class="portfolio-section__subtitle">
        Explore all our works
      </h4>
      <button class="portfolio-section__btn  btn btn--fill">
        View portfolio
      </button>
    </div>
  </div>
</section>
