<section class="project-goal">
  <div class="container project-goal__container">
    <div class="project-goal__left">
      <h2 class="project-goal__title title">
        Project goal
      </h2>
      <p class="project-goal__text">
        Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a pool
        and a garage for two cars.
      </p>
      <p class="project-goal__text">
        Modern design and care for each family member to feel as comfortable as possible in the new home.
      </p>
    </div>
    <div class="project-goal__right">
      <div class="project-goal__info">
        <ul class="project-goal__list">
          <li class="project-goal__item">
            <div class="project-goal__category">
              Location
            </div>
            <div class="project-goal__value">
              2464 Royal Ln. Mesa, New Jersey
            </div>
          </li>
          <li class="project-goal__item">
            <div class="project-goal__category">
              Client
            </div>
            <div class="project-goal__value">
              Darlene Robertson
            </div>
          </li>
          <li class="project-goal__item">
            <div class="project-goal__category">
              Architect
            </div>
            <div class="project-goal__value">
              HIK Architecture
            </div>
          </li>
          <li class="project-goal__item">
            <div class="project-goal__category">
              Size
            </div>
            <div class="project-goal__value">
              840 sq. feet
            </div>
          </li>
          <li class="project-goal__item">
            <div class="project-goal__category">
              Value
            </div>
            <div class="project-goal__value">
              840 sq. feet
            </div>
          </li>
          <li class="project-goal__item">
            <div class="project-goal__category">
              Completed
            </div>
            <div class="project-goal__value">
              May 2020
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
