<section class="related similar">
  <div class="container">
    <div class="related__top">
      <h2 class="title related__title">
        Similar projects
      </h2>

      <div class="slider-nav">
        <button class="slider-nav__btn slider-btn slider-btn__prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="slider-nav__btn slider-btn slider-btn__next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="related__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img src="img/related-1.jpg" alt="Construction" class="portfolio-item__img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Kids Bedroom With Decorations
              </h3>
              <span class="portfolio-item__desc">
                Apartments & flats
              </span>
              <div class="portfolio-item__btn btn btn--stroke">
                View project
              </div>
            </div>
          </a>
        </div>

        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img src="img/related-2.jpg" alt="Construction" class="portfolio-item__img">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">
                Scandinavian Style Interior
              </h3>
              <span class="portfolio-item__desc">
                Apartments & flats
              </span>
              <button class="portfolio-item__btn btn btn--stroke">
                Private houses
              </button>
            </div>
          </a>
        </div>

        <div class="swiper-slide"><a href="#" class="portfolio-item">
            <img src="img/related-3.jpg" alt="Construction" class="related-item__img">
            <div class="portfolio-item__content">
              <h3 class="related-item__title">
                The Pencil Building
              </h3>
              <span class="portfolio-item__desc">
                Stores & Malls
              </span>
              <div class="portfolio-item__btn btn btn--stroke">
                View project
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="related__learn">
      <h4 class="related__subtitle">
        Explore all our works
      </h4>
      <button class="related__btn  btn btn--fill">
        View portfolio
      </button>
    </div>
  </div>
</section>
