<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__content">
      <h2 class="testimonials__title title">
        What our clients are saying
      </h2>
      <div class="testimonials__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="testimonials__img-wrapper">
                <img src="img/testimonial-img1.png" alt="Photo" class="testimonials__img">
              </div>
              <p class="testimonials__text">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
                consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
              </p>
              <span class="testimonials__author">
                Shawn Edwards
              </span>
              <span class="testimonials__position">
                Position, Company name
              </span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="testimonials__img-wrapper">
                <img src="img/testimonial-img2.jpg" alt="Photo" class="testimonials__img">
              </div>
              <p class="testimonials__text">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
                consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco.
              </p>
              <span class="testimonials__author">
                Shawn Edwards
              </span>
              <span class="testimonials__position">
                Position, Company name
              </span>
            </div>
          </div>
        </div>
        <div class=" testimonials__slider-nav slider-nav">
          <button class="slider-nav__btn slider-btn slider-btn__prev">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="slider-nav__btn slider-btn slider-btn__next">
            <svg class="slider-nav__arrow">
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <img src="img/testimonials-photo.jpg" alt="image" class="testimonials__photo">
  </div>
</section>
